nav{
    /* background-color: transparent;*/
    border-bottom:  .5px solid black; 
    direction: rtl;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
    position: fixed !important;
    top: 0;
    background-color: transparent;
    width: 100%;
    z-index: 10000000000000;
   
   
}
nav a, nav p{
    color: black !important  ;
}

.ourservices-title{
    color: #7AB1FF;
}
.service-info img{
    height: 50px;
    width: 50px;
    margin: auto;
}
.service-info
{
    background-color: #F2F8FD;
    -webkit-box-shadow: 1px black;
            box-shadow: 1px black;
    padding: 20px 20px;
    
}
.service-info-p{
    color: darkgray;
}