nav{
    /* background-color: transparent;*/
    border-bottom:  .5px solid black; 
    direction: rtl;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
    position: fixed !important;
    top: 0;
    background-color: transparent;
    width: 100%;
    z-index: 10000000000000;
   
   
}
nav a, nav p{
    color: black !important  ;
}

.prev-works-title{
    color: #7AB1FF;
}
.works-title-cont{
    color: darkgrey;
}
.works-overlay{
    position: absolute;
    top: -1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
    transition: all 1s;
}
.works-cont{
    position: relative;
    overflow: hidden;
    
  
}
.overlay-cont{
    cursor: pointer;
}
.works-cont:hover .works-overlay{
    top: 0;
}
/******* footer ****/
#footer{
    background-color: black;
}
#footer i{
    cursor: pointer;
}
